body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* coloca um abaixo do outro */
    justify-content: center;
    align-items: center;
    gap: 20px; /* espaço entre os cardsdsa d*/
    background-color: #f0f0f0;
}

.info-central {
    width: 350px;
    height: 150px;
    background: linear-gradient(135deg, #1e1b4b, #000000);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid grey;
}

#Explor {
    width: 120px;
    height: 60px;
    background: linear-gradient(130deg, #000000, rgb(22, 16, 49));
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bold;
}

.info-2 {
    width: 350px;
    height: 150px;
    background: linear-gradient(135deg, #1e1b4b, #000000);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border: 1px solid grey;
}
