body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;     
    background-color: #f0f0f0;
}

.info-central {
    width: 900px;         
    height: 290px;         
    background: linear-gradient(135deg, #1e1b4b, #000000); 
    color: #ffffff;         
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;     
    border-radius: 8px;  
    border: grey;   
}

#Explor {
    width: 120px;           
    height: 60px;    
    background: linear-gradient(130deg,  #000000, rgb(22, 16, 49));     
    background-color: #0004ff; 
    border-radius: 8px; 
    border-color: #f0f0f0;
    color: rgb(255, 255, 255); 
    font-size: medium;
    font-weight: bold;
}

.info-2 {

    width: 900px;         
    height: 290px;         
    background: linear-gradient(135deg, #1e1b4b, #000000); 
    color: #ffffff;         
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;     
    border-radius: 8px;  
    border: grey;  

}
